tr:hover {
    background-color: #ffff99;
}

.selected {
    background-color: rgba(0, 0, 0, 0.075);
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

.dataTables_length select {
    background-color: transparent;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    border: 0 none;
    padding-bottom: 5px;
    transition: background 0s ease-out 0s;
}

.dataTables_length {
    margin-top: 10px;
}

.form-me {
    color: #495057;
    background-clip: padding-box;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    min-height: 36px;
}