.card-body {
    position: relative;
}

.status-color {
    /* position: fixed; */
    width: 20px;
    height: 20px;
    /* bottom: 40px; */
    /* right: 40px; */
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 82%);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.bouncybox {
    position: absolute;
    left: 50%;
    height: 100px;
    width: 40px;
    margin-left: 20px;
}

.bouncy {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: grey;
    animation: bouncy 2s infinite ease-in-out;
}

@keyframes bouncy {
    40% {
        height: 40px;
    }
    50% {
        transform: translate(0, 65px);
        height: 34px;
    }
    65% {
        height: 40px;
    }
}