.float-button {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 80px;
    right: 60px;
    background-color: #457b9d;
    border: antiquewhite;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1200;
}