.invalid-details {
    border-color: #dc3545!important;
}

.warning-details {
    border-color: #ffc107!important;
}

.form-image {
    width: 20%;
}

.vehicle-image {
    max-height: 100%;
    height: 11rem;
}