.invalid-details {
    border-color: #dc3545!important;
}

.warning-details {
    border-color: #ffc107!important;
}

.form-image {
    width: 20%;
}

.vehicle-image {
    max-height: 100%;
    height: 11rem;
}

.NewPasswordinfo .invalid {
    background: url(../images/invalid.png) no-repeat 0 50%;
    color: #ec3f41;
}

.NewPasswordinfo .valid {
    background: url(../images/valid.png) no-repeat 0 50%;
    color: #3a7d34;
}

.NewPasswordinfo ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.NewPasswordinfo ul li {
    visibility: visible !important;
    height: 20px !important;
    min-height: 20px !important;
    line-height: 24px;
    font-size: 0.9em;
    padding-left: 24px !important;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
}