#contact input[type="text"],
#contact input[type="number"],
#contact input[type="date"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="date"]:hover,
#contact input[type="number"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact input:focus {
    outline: 0;
    border: 1px solid #aaa;
}