.header {
    height: 5rem;
    z-index: 1;
    position: relative;
    padding: 0 0.9375rem;
    background: #fff;
    &-content {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    &-left {
        float: left;
        flex: 1;
        img {
            margin: 0.2rem 0;
            width: 50px;
            height: 90%;
        }
    }
    &-right {
        float: right;
        flex: 2;
        line-height: 3rem;
        height: 100%;
        ul {
            height: 100%;
            margin: 0;
            list-style: none;
            .icons {
                float: right;
                margin: 0;
                padding: 0 0.3125rem;
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                .user-img {
                    cursor: pointer;
                    position: relative !important;
                    top: -7px;
                    img {
                        height: 40px;
                        width: 40px;
                        border: 3px solid #fff;
                        border-radius: 50%;
                        margin: 0;
                        padding: 0;
                        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
                    }
                    .activity {
                        height: 13px;
                        width: 13px;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute;
                        border: 3px solid #fff;
                        bottom: .4rem;
                        right: 0rem;
                        padding: 0;
                        top: auto;
                        left: auto;
                        background-image: linear-gradient(230deg, #ffc480, #ff763b);
                    }
                }
            }
        }
    }
}

.dropdown-toggle::after {
    content: none!important;
}