.nav-link {
    color: white;
    &:hover {
        color: white;
    }
}

.hvrcenter {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: #ecf0f1;
        height: 2px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover:before,
     :focus:before {
        left: 0;
        right: 0;
    }
}

.main-nav {
    align-items: stretch;
    background-color: #1c313a;
    .logo {
        width: 50px;
        height: 58px;
    }
    &-link {
        align-items: stretch;
    }
    .nav-link {
        font-size: 0.95rem;
        font-weight: 500;
        z-index: 1000;
        line-height: 50px;
    }
    .active {
        border-bottom: 4px solid #ecf0f1;
        font-weight: bold;
        color: white;
    }
    .tab-info {
        .profile-dropdown {
            box-shadow: 0px 1px 17px 2px rgba(0, 0, 0, 0.78);
            .user-dropdown {
                text-align: center;
                margin: 20px 33px;
                img {
                    height: 100px;
                    width: 100px;
                    align-items: center;
                }
                >p {
                    text-align: center;
                }
            }
        }
    }
}

.secondary-nav-bar {
    background-color: #718792;
    nav {
        font-size: 1rem;
        height: 4rem;
        a.active {
            background-color: #457b9d !important;
            font-weight: bold;
            color: white;
        }
    }
}

.tab-pane {
    .card {
        min-height: 58%;
    }
}

.dropdown-toggle::after {
    content: none !important;
}

@media only screen and (max-width: 600px) {
    .secondary-nav-bar {
        display: none;
    }
    #mainnavbarContent {
        display: none;
    }
    // .tab-info {
    //     display: none;
    // }
}

.nav-content {
    box-sizing: border-box;
    min-width: 0px;
    flex-wrap: wrap;
    padding: 64px 8%;
    display: flex;
    margin: 0px auto;
}

.main-navi {
    text-decoration: none;
    color: white!important;
    letter-spacing: 0px;
    will-change: font-size;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 1.75rem;
    margin-bottom: 0.2rem;
}

.secondary-nav {
    text-decoration: none;
    color: white;
    letter-spacing: 0px;
    will-change: font-size;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 1.0625rem;
    font-weight: 200;
    margin-bottom: 0px !important;
}

.resactive::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.3s ease-in-out 0s;
}

.psd {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    pointer-events: auto;
    background: rgb(246, 246, 246);
    background-color: #1c313a;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.psd-animate {
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.psd_child_1 {
    box-sizing: border-box;
    margin: 2.25rem 1.4rem 0px 0px;
    min-width: 0px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
}

.psd_child_2 {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.psd_child_3 {
    box-sizing: border-box;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin: 0px;
}

.psd_child_4 {
    text-transform: uppercase;
    margin-right: 1.5rem;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 0.75rem;
    color: white;
}

.nav-content_child_1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-content_child_2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}

.nav-content_child_3 {
    box-sizing: border-box;
    margin: 0px 0px 8px;
    min-width: 0px;
}