#contacts input[type="text"],
#contacts input[type="date"],
#contacts input[type="number"],
#contacts button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contacts {
    background: inherit;
}

#contacts h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contacts h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

#contacts label1 {
    margin: 0px 0 5px;
    display: block;
    font-size: 12px;
    font-weight: 400;
}

#contacts label1 {
    margin: 0px 0 5px;
    display: block;
    font-size: 12px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contacts input[type="text"],
#contacts input[type="number"],
#contacts input[type="date"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contacts input[type="text"]:hover,
#contacts input[type="date"]:hover,
#contacts input[type="number"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contacts button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(219, 128, 67);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contacts button[type="submit"]:hover {
    background: rgb(202, 114, 56);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contacts button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contacts input:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}