@mixin media-md {
    @media screen and(min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and(min-width: 768px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and(min-width: 768px) {
        @content;
    }
}