body {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position-x: right;
	background-position-y: bottom;
}

.user-text{
	position: relative;
}

#heading{
	margin: 1rem;
	margin-left: 0rem;
}

.user-name{
	color: rgb(0, 0, 0);
	margin: 1rem;
	margin-top: 2rem;
	font-weight: bold;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
}

.user-name:hover{
	color: #aaa;
	cursor: pointer;
	transition: transform 0.5s ease-in;
}

#navigation-bar {
	position: relative;
	font-weight: 700;
}

.underline {
	display: block;
	position: absolute;
	height: 0.25em;
	width: 10%;
	background: black;
	transition: transform 0.5s ease-in-out;
}

.navigation-link {
	display: inline-block;
	width: 10%;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	text-align: center;
	cursor: pointer;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.popup {
	display: none;
	position: fixed;
  	top: 50%;
	z-index: 1; 
	left: 0;
	top: 0;
	width: 80%; 
	height: 80%; 
}
  
.popup-content {
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 80%; 
}

#cancel-request-alert{
	z-index: 10;
	width: 60%;
	margin: 10%;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }