/*body{
    background-color: tan ;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
}*/

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
    background-color: (211,211,211,0.5);
    padding: 30px;
}

.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
 margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
background-color: #2868c7;
  transition: background-color 0.2s;
}

.form-control{
    background-color: transparent !important;
}

#national-logo{
    height: 3.7cm;
    width: 2.6cm;
}

.header-logo {
    z-index: 501;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 7.5rem;
    top: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .header-logo a {
    display: block;
    padding: 0;
    outline: 0;
    border: none;
  }
  
  .header-logo img {
    width: 2.6cm;
    height: 3.7cm;
  }